* {
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display:none;
  }
  
body::after {
    content: "";
    position: absolute ; 
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    

    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.71;
    z-index: -2;
}


.hero>p>span {
    display: block;
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    font-weight: bold;
    font-size: 1.6rem;
    color: rgba(250, 83, 83, 0.938);
    margin-top: 10px;
}

.hero>p {
    display: block;
    color: rgba(36, 48, 9, 0.89);
    border: 2px solid rgb(114, 66, 228);
    background-color: rgba(253, 183, 126, 0.945);
    font-size: 1.4rem;
    margin-left: 10rem;
    margin-right: 10rem;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    box-shadow: 7px 9px 9px rgb(255, 255, 255);
    z-index: 1;
}

#logo1 {
    clear: both;
    display: block;
    border: 2px solid red;
    border: hidden;
}

#logo1 img {
    display: block;
    margin: auto;
    margin-top: 10px;
    height: 15rem;
    width: 18rem;
}

section {
    background-color: rgba(171, 231, 194, 0.801);

}

.img-container {
    display: flex;
    border: 2px solid white;
    flex-direction: row;
    height: auto;
    width: auto;
    /* border: hidden; */
    flex-wrap: wrap;
    justify-content: center;
    border: hidden;
}
#myVideo {
    position: fixed;
    z-index: -1;
    /* right: 0;
    bottom: 0;
    min-width:100%; 
    min-height: 100%; */
  }

.second-container {
    border:2px solid red;
    background-color: rgba(212, 243, 166, 0.774);
    width:80vw;
    margin-left:9vw;
    margin-bottom:10px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}



.item {

    border: 2px solid rgb(255, 235, 170);
    width: 16vw;
    height: auto;
    margin: 23px;
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 78, 247);
    box-shadow: 8px 8px 8px rgb(168, 187, 212);
}

.item span {
    font-weight: bold;
}

#subitem {
    font-size: 3rem;
    position: relative;
    color: white;


}

.img-container .item {
    background-color: rgba(230, 202, 220, 0.788);
}

#subitem2 img {
    display: block;
    margin: auto;
    margin-top: 24px;
    width: 6vw;
    height: 17.5vh;
    z-index: 1;
    padding-bottom: 17px;
}

#subitem1 img {
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 9vw;
    height: 17vh;
    z-index: 1;
    padding-bottom: 20px;
}

#subitem3 img {
    display: block;
    margin: auto;
    margin-top: 13px;
    width: 10vw;
    height: 18.6vh;
    z-index: 1;
    padding-bottom: 16px;
}

#subitem4 {
   display: block;
   text-align:center;
   margin:auto;
   font-size: 1.2rem;
   
}
#subitem4 a{
    text-decoration: none;
    font-family: monospace;
    color:rgb(110, 104, 104);
}
#subitem4 a h2{
    font-size:1.2rem;
    color:rgb(0, 162, 255);
}
#subitem4 a h2 span{
    color:black;
}
#subitem4 a h1:hover{
    color:rgb(0, 0, 0)
}

.log-btn {
    margin-top: 10px;
    margin-bottom: 17px;

}

.log-btn a {
    border: 2px solid rgb(253, 124, 4);
    border-radius: 14px;
    text-decoration: none;
    padding: 4px;
    text-align: center;
    background-color: rgba(255, 254, 198, 0.938);
    margin-bottom: 3px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

.log-btn a:hover {
    background-color: black;
    font-family: cursive;
    color: white;
    padding: 2px;
}

.heading-design {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Merienda', cursive;
    text-shadow: 3px 4px rgb(253, 95, 22);

}

.heading-design p {
    font-size: 3.0vw;
    padding: 0.1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
    margin: 0px;
    margin-top: 2px;
}

.heading-design p span.typed-text {
    font-weight: normal;
    color: #efff13e7;
}

.heading-design p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}

.heading-design p span.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {
        background-color: #ccc;
    }

    49% {
        background-color: #ccc;
    }

    50% {
        background-color: transparent;
    }

    99% {
        background-color: transparent;
    }

    100% {
        background-color: #ccc;
    }
}

.container {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 100vh;
}


.box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.13);
    line-height: 0;
}

.box>img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover;
    transition: .5s;
}

.box>span {
    font-size: 3.8vh;
    background-color: white;
    display: block;
    text-align: center;
    height: 8vh;
    line-height: 2.6;
}

.box:hover {
    flex: 1 1 50%;
}

.box:hover>img {
    width: 100%;
    height: 100%;
}

#b1 {
    display: block;
}

.foot-container {
    display: flex;
    border: 2px solid red;
    background-color: rgba(20, 19, 19, 0.884);
    z-index: 1;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
}

.foot-img {
    display: block;
    border: 2px solid yellow;
    margin: 13px;
    border: none;
}

.foot-img>img {
    display: block;
    width: 8vw;
    height: 6vw;
    padding: 1rem;
    margin: auto;
}

.foot-img>span {
    display: block;
    color: white;
    font-family: monospace;
    font-size: 1.3vw;
    padding: 1rem;
}

.footer h2 {
    text-align: center;
    color:white;
    font-size: 2.4vw;
    margin-top: 50px;
    margin-bottom: 20px;
}

@media only screen and (max-width:400px) {


    .hero>p {
        font-size: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .hero>p>span {
        font-size: 3.2vw;
    }

    .item {
        width: 25vw;
        height: auto;
        margin: 23px;
        font-size: 3.0vw;

    }

    .item2 {
        width: 25vw;
        font-size: 2.0vw;
    }

    #logo1 img {
        /* margin-top: 150px; */
        height: 8rem;
        width: 9rem;
    }

    .foot-img>img {
        width: 18vw;
        height: 15vw;
    }

    .foot-img>span {
        font-size: 1.9vw;
        padding: 1rem;
    }

    #subitem2 img {

        width: 6vw;
        height: 17.5vh;
    }

    #subitem1 img {

        width: 13vw;
        height: 15vh;
    }

    #subitem3 img {

        width: 14vw;
        height: 18.6vh;
        margin-top: 10px;

    }
    
#subitem4 {
   font-size: 0.6rem;
   
}
#subitem4 a h2{
    font-size:0.6rem;
   
}

}

@media only screen and (max-width:700px) and (min-width: 401px) {
    .hero>p {
        font-size: 3vw;
        margin-left: 1rem;
        margin-right: 1rem;
        border-radius: 20px;
    }

    .hero>p>span {
        font-size: 2.3vw;
    }

    .item {
        font-size: 1.3vw;
    }

    .item2 {
        font-size: 1.3vw;
    }

    #logo1 img {
        /* margin-top: 110px; */
        height: 10rem;
        width: 11rem;
    }

    .foot-img>img {
        width: 16vw;
        height: 13vw;
    }

    .foot-img>span {
        font-size: 1.9vw;
        padding: 1rem;
    }

    #subitem3 img {

        width: 14vw;
        height: 18.6vh;
        margin-top: 13px;

    }

    #subitem1 img {

        width: 13vw;
        height: 16.4vh;
    }
    #subitem4 {
   font-size: 0.8rem;
   
}
#subitem4 a h2{
    font-size:0.8rem;
   
}
}

@media only screen and (max-width:1000px) and (min-width: 700px) {
    .hero>p {

        font-size: 2.4vw;
        margin-left: 1.7rem;
        margin-right: 1.7rem;
        border-radius: 20px;

    }

    .hero>p>span {

        font-size: 2.6vw;

    }

    .item {
        font-size: 2.2vw;
    }

    #logo1 img {
        /* margin-top: 110px; */
        height: 11.5rem;
        width: 13rem;
    }

    #subitem3 img {

        width: 14vw;
        height: 18.6vh;
        margin-top: 21px;

    }
}
@media (min-aspect-ratio:16/9){
    #myVideo {
      width:100%;
      height:auto;
  
    }
  
  }
  @media (max-aspect-ratio:16/9){
    #myVideo {
      width:auto;
      height:100%;
  
    }
    
  }
  :root {
    --modal-duration: 1s;
    --modal-color: #8bc1da;
}

.button {
    background: #428bca;
    padding: 1em 2em;
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background: #3876ac;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 100px;
    height: fit-content;
   
    overflow: hidden;
    background-color: rgba(71, 51, 51, 0.5);
}

.modal-content {
    margin: 10% auto;
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
}

.modal-header h2,
.modal-footer h3 {
    margin: 0;
}

.modal-header {
    background:#4d7c92;
    text-align: center;
    padding: 15px;
    color: rgb(13, 31, 54);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-body {
    padding: 10px 20px;
    background: #b6d3da70;
}

.vertical-center {
 display:block;
height: 200px;

align-items: center;
justify-content: center;
}
.but{
    width: 100%;
    margin:10px auto;
      
    display:flex;
}
.vertical-center input{
   align-items: center;
   width: 100%;
   border: double;   border-radius: 40px;
   background: #b6d3da70;
   padding:1px 30px;

}
.btn {
    flex:1;
    background-color: rgb(73, 95, 112);
   
    border: none;
    color: white;
 
    text-align: center;
    text-decoration: none;
   
    
    margin:5px 80px ;
    border-radius: 40px;
    transition-duration: 0.4s;
    cursor: pointer;
   
    
    /* border: 2px solid grey; */
}


.btn:hover {
    background-color: #172e3d;
    color: white;
}


.close {
    color: #ccc;
    float: right;
    font-size: 30px;
    color: #fff;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


  .ui-form-input-container {
    position: relative;
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 15px;
    display: block;
  }
  .ui-input-container h2 {
    font-family: sans-serif;
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: capitalize;
  }
  .ui-form-input {
    padding: 13px 15px;
    border-radius: 8px;
    border: 2px solid #3e5e88;
    outline: 0;
    width: 100%;
  }
  
  .form-input-label {
    position: absolute;
    top: -7px;
    left: 10px;
    color: #3e5e88;
    font-size: 0.85rem;
    padding-right: 0.33rem;
    padding-left: 0.33rem;
    background: #fff;
    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    font-family: sans-serif;
    text-transform: capitalize;
  }
  
  .ui-form-btn {
    padding: 13px 15px;
    border-radius: 8px;
    background: #1a73e8;
    outline: 0;
    width: 100%;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    font-weight: 500;
  }
  
  .error .ui-form-input,
  .error .form-input-label {
    border-color: #d50000;
    color: #d50000;
  }
  
  textarea {
    min-height: 6em;
    max-height: 50vh;
    width: 100%;
    background: #b6d3da70
  }
  