*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;

}

html ,body{
  margin: 0;
}
/* width */
::-webkit-scrollbar {
  display:none;
}


#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    
}
        .content{
          color: #fff;
          font-family: 'Libre Baskerville', serif;
          font-size: 50px;
          font-weight: bold;
          position: relative;
          width: fit-content;
          margin: 10px auto 30px ;
        }
  .typewriter{
    color: #fff;
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
    font-weight: bold;
    overflow: hidden; 
    position: relative;
    border-right: .15em solid orange; 
    white-space: nowrap;
    letter-spacing: .15em;
    animation:
        typing 4.5s steps(30, end),
      blink-caret .5s step-end infinite;
      width: fit-content;
    margin: auto;
  }
  
 
  @keyframes typing {
    from { width: 0 }
    to { width: 61% }
  }
  
 
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(212, 147, 26) }
  }



  ul {
  width: 400px;
  height:400px;
  margin: auto;
    position:relative;
  }
  
  li { 
   
    --h: calc(100% / 3);
    --w: calc(1.15470053838 * var(--h));
    --a: calc(0.28867513459 * var(--h));
    --d: calc(0.57735026919 * var(--h));
    height:var(--h);
    width:var(--w);
    position: absolute;
   list-style: none;
  }
  
  img {
    display:block;
    width:100%;
    height:100%;
    object-fit:cover;
   
    --aw:24.99999999999%;
    clip-path:polygon(
      var(--aw) 0,
      0 50%,
      var(--aw) 100%,
      calc(100% - var(--aw)) 100%,
      100% 50%,
      calc(100% - var(--aw)) 0
    );
  }
  
  li:nth-of-type(1) {
    left:calc(50% - var(--a) - var(--d) * 0.5);
    top:0;
  }
  li:nth-of-type(2) {
    left:calc(50% - var(--a) * 2 - var(--d) * 1.5);
    top:calc(var(--h) * 0.5);
  }
  li:nth-of-type(3) {
    left:calc(50% - var(--a) * 2 - var(--d) * 1.5);
    top:calc(var(--h) * 1.5);
  }
  li:nth-of-type(4) {
    left:calc(50% - var(--a) - var(--d) * 0.5);
    top:calc(var(--h) * 2);
  }
  li:nth-of-type(5) {
    left:calc(50% + var(--d) * 0.5);
    top:calc(var(--h) * 0.5);
  }
  li:nth-of-type(6) {
    left:calc(50% + var(--d) * 0.5);
    top:calc(var(--h) * 1.5);
  }
  
  ul {
    filter:drop-shadow(0 0 10px hsla(0,0%,0%,0.3));
  }
  
  li:hover {
    filter:drop-shadow(0 0 10px powderblue);
    z-index:10;
  }
  ul {
    animation:r 4s forwards;
  } @keyframes r {
    from {transform:rotate(180deg)}
    to {transform:rotate(0)}
  }
  
  li {
    animation:ir 4s forwards;
  } @keyframes ir {
    from {transform:rotate(-360deg)}
    to {transform:rotate(0)}
  }

  .container_heading{
    position: relative;
    font-size: 40px;
    color: #b5b5ff;
    /* text-decoration: underline; */
    width: fit-content;
    font-weight: bold;
    margin: 30px auto;
    cursor: pointer;
  }


  .container,
  .container * {
    box-sizing: border-box;
  }
  .box{
  
    position: relative;
    width: fit-content;
    margin: auto;
  }
  .container {

    position: relative;
    display: inline-block;
    overflow: hidden;
    color: #fff;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    border: 2px solid rgb(36, 8, 77);
    background-color: rgb(36, 8, 77);
    font-weight: bold;
    position: relative;
    width: 31%!important;
    left: auto;
    
    margin: 10px!important;
    cursor: pointer;
    border-radius: 8px;
    /* max-width: 100%;
    height: auto; */
    /* margin: 20px;
    left:80px; */
  }


  .container .container_bottom {
    
    /* display: block; */
    width: 315px;
    height: 200px;
    margin: 10px;
  }
  .container .container_top {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 15px;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  .container:hover .container_top,
  .container:active .container_top {
    opacity: 1;
  }
  .container .box1{
    text-align: center;
    font-size: 25px;
    font-family: 'Libre Baskerville', serif;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .none{
    clip-path: none;
    background-color: white;
    display: inline;
    
  }
  .none1{
    clip-path: circle(50%);
    background-color: white;
    display: inline;
  }
  .box .work1,.work2,.work3{
    position: relative;
    width:120px;
    height:120px;
    float: left;
    font-size:15px;
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-align: center;
    margin: 10px;

}
.laser_head{
  background-color:  rgb(61, 88, 105);
  width: fit-content;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  flex:2 0px;
}
.laser_head .laser{
  position:relative;
  font-size:30px;
  color: black;
  border:0px solid rgb(168, 217, 247);
  
  /* background-color: rgb(61, 88, 105); */


}

#Video {
  width: 24vw;
  /* height: 35vh; */
 
  float:right;
}
.appointment a{
  position: relative;
  display: inline-block!important;
  padding: 15px 30px;
  color:white;
  font-family: 'Libre Baskerville', serif;
  background-color:rgb(61, 88, 105) ;
  border-radius: 80px;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  text-align: center;
  transition: 0.2s;
 right: 10px;
 bottom: -50px;

}
.appointment a:hover{
  color:white;
  background:rgb(30, 63, 83);
  box-shadow: 0 0 10px rgb(68, 118, 150),0 0 40px rgb(68, 118, 150),0 0 80px rgb(68, 118, 150);
  transition-delay:1s;

}
.appointment a span{
  position: absolute;
  display: block;
}
.appointment a span:nth-child(1){
  top:0;
  left:-100%;
  width:100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,rgb(11, 41, 41));

  
}
.appointment a:hover span:nth-child(1){
  left: 100%;
  transition: 1s;
}
.appointment a span:nth-child(3){
  bottom:0;
  right:-100%;
  width:100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,rgb(11, 41, 41));

  
}
.appointment a:hover span:nth-child(3){
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
.appointment a span:nth-child(2){
  top:-100%;
  right:0;
  width:2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,rgb(11, 41, 41));

  
}
.appointment a:hover span:nth-child(2){
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
.appointment a span:nth-child(4){
  bottom:-100%;
  left:0;
  width:2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,rgb(11, 41, 41));

  
}
.appointment a:hover span:nth-child(4){
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

@media screen and (max-width:1670px){
  .laser_head .laser{
    font-size: 25px;
  }
@media screen and (max-width:1390px){
  .laser_head .laser{
    font-size: 20px;
  }
}
@media screen and (max-width:1110px)
{
  #myVideo{
    min-width:100%;
    min-height: 100%;
  }
  .content{
    font-size: 30px;
  }
  .typewriter{
    font-size: 15px;
  }
  ul{
    width:200px;
    height:200px ;
  }
  .laser_head{
    max-width: 100%;
    
  }
  .laser_head .laser{
    font-size: 15px;
  }

  .container_heading{
    font-size: 20px;
  }
  .box{
    position: relative;
    max-width: 100%;
    /* margin: auto; */
  }
  .container{
    position: relative;

    margin: 10px;

  }
  .box .container .box1{
    font-size: 18px;
  }
  .box .container img{
    width:120px;
    height: 100px;
  }

  .work1,.work2,.work3{
    position: relative;

    margin: 10px;

  }
  .appointment a{
    
    padding: 8px 15px;
   
    border-radius: 60px;
   
    font-size: 14px;
 
   right: 8px;
   bottom: -70px;
  
  }
}
@media screen and (max-width:880px)
{
  #myVideo{
    min-width:100%;
    min-height: 100%;
  }
  .content{
    font-size: 30px;
  }
  .typewriter{
    font-size: 15px;
  }
  ul{
    width:200px;
    height:200px ;
  }
  .laser_head{
    max-width: 100%;
    
  }
  .laser_head .laser{
    font-size: 10px;
  }

  .container_heading{
    font-size: 20px;
  }
  .box{
    position: relative;
    max-width: 100%;
    /* margin: auto; */
  }
  .container{
    position: relative;

    margin: 10px;

  }
  .box .container .box1{
    font-size: 18px;
  }
  .box .container img{
    width:120px;
    height: 100px;
  }

  .work1,.work2,.work3{
    position: relative;

    margin: 10px;

  }
  .appointment a{
    
    padding: 5px 10px;
   
    border-radius: 50px;
   
    font-size: 12px;
 
   right: 10px;
   bottom: -70px;
  
  }
}
 @media screen and (max-width:500px)
{
  #myVideo{
    min-width:100%;
    min-height: 100%;
  }
  .content{
    font-size: 25px;
  }
  .typewriter{
    font-size: 12px;
  }
  ul{
    width:150px;
    height:150px ;
  }
  .laser_head{
    max-width: 100%;
    
  }
  .laser_head .laser{
    font-size: 8px;
  }
 
  .container_heading{
    font-size: 18px;
  }
  .box{
    position: relative;
    max-width: 100%;
    /* margin: auto; */
  }
  .container{
    position: relative;

    margin: 5px;

  }
  .box .container .box1{
    font-size: 14px;
  }
  .box .container img{
    width:80px;
    height: 60px;
  }

  .work1,.work2,.work3{
    position: relative;
    width:80px;
    height: 80px;
    margin: 5px;

  }
  .appointment a{
    
    padding: 4px 20px;
   
    border-radius: 30px;
   
    font-size: 10px;
 
   right: 10px;
   bottom: -50px;
  
  }
} 
}
  @media (min-aspect-ratio:16/9){
    #myVideo {
      width:100%;
      height:auto;
  
    }
  
  }
  @media (max-aspect-ratio:16/9){
    #myVideo {
      width:auto;
      height:100%;
  
    }
    
  }
  :root {
    --modal-duration: 1s;
    --modal-color: #428bca;
}

.button {
    background: #428bca;
    padding: 1em 2em;
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background: #3876ac;
}

.modal {
  
    display: none;
    position: fixed;
    z-index: 1;
    left: 20%!important;
    top: 10%!important;
    width:800px!important;
    
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    all:unset;
}

.modal-content {
    margin: 10% auto;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
}
.modal-content {
  position: relative;
 
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
}

.modal-header h2,
.modal-footer h3 {
    margin: 0;
}

.modal-header {
    background: var(--modal-color);
    text-align: center!important;
    padding: 15px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-body {
    padding: 10px 20px;
    background: #fff;
}
:root {
  --modal-duration: 1s;
  --modal-color: #8bc1da;
}

.button {
  background: #428bca;
  padding: 1em 2em;
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background: #3876ac;
}

.modal {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 100px;
  height:fit-content;
 
  overflow: hidden;
  background-color: rgba(71, 51, 51, 0.5);
  width:700px!important;
}

.modal-content {
  margin:0px 0px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header h2,
.modal-footer h3 {
  margin: 0;
}

.modal-header {
  background:#4d7c92;
  text-align: center;
  padding: 15px;
  color: rgb(13, 31, 54);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-body {
  padding: 10px 20px;
  background: #b6d3da70;
}

.vertical-center {
display:block;
height: 200px;

align-items: center;
justify-content: center;
}
.but{
  width: 100%;
  margin:10px auto;
    
  display:flex;
}
.vertical-center input{
 align-items: center;
 width: 100%;
 border: double;   border-radius: 40px;
 background: #b6d3da70;
 padding:1px 30px;

}
.btn {
  flex:1;
  background-color: rgb(73, 95, 112);
 
  border: none;
  color: white;

  text-align: center;
  text-decoration: none;
 
  
  margin:5px 80px ;
  border-radius: 40px;
  transition-duration: 0.4s;
  cursor: pointer;
 
  
  /* border: 2px solid grey; */
}


.btn:hover {
  background-color: #172e3d;
  color: white;
}


.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}


.ui-form-input-container {
  position: relative;
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 15px;
  display: block;
}
.ui-input-container h2 {
  font-family: sans-serif;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: capitalize;
}
.ui-form-input {
  padding: 13px 15px;
  border-radius: 8px;
  border: 2px solid #3e5e88;
  outline: 0;
  width: 100%;
}

.form-input-label {
  position: absolute;
  top: -7px;
  left: 10px;
  color: #3e5e88;
  font-size: 0.85rem;
  padding-right: 0.33rem;
  padding-left: 0.33rem;
  background: #fff;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  font-family: sans-serif;
  text-transform: capitalize;
}

.ui-form-btn {
  padding: 13px 15px;
  border-radius: 8px;
  background: #1a73e8;
  outline: 0;
  width: 100%;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  font-weight: 500;
}

.error .ui-form-input,
.error .form-input-label {
  border-color: #d50000;
  color: #d50000;
}

textarea {
  min-height: 6em;
  max-height: 50vh;
  width: 100%;
  background: #b6d3da70
}
