::-webkit-scrollbar {
    display:none;
  }
  
  body
{
    font-family: Tahoma, Geneva, sans-serif;
    color: #fff;
   
}
a
{
    color: yellow;
    font-family:Tahoma, Geneva, sans-serif;
    margin-left: 30px;
}
.cong
{
    background: rgba(44,62,80,0.7);
    padding: 40px;
    
    height: 200px;
    margin: 0 auto;
    margin-top: 120px;
    width: 400px;
}
h2
{
    margin-top: 50px;
    margin-left: 10px;
}
#myVideo {
    position: fixed;
    z-index: -1;
    /* right: 0;
    bottom: 0;
    min-width:100%; 
    min-height: 100%; */
  }
@media (min-aspect-ratio:16/9){
    #myVideo {
      width:100%;
      height:auto;
  
    }
  
  }
  @media (max-aspect-ratio:16/9){
    #myVideo {
      width:auto;
      height:100%;
  
    }
    
  }